<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="javascripts/enchant.js"></script>
    <script type="text/javascript">
        let cardImages = <%- JSON.stringify(cardImages) %>
    </script>
    <script type="module" src="javascripts/main.js"></script>
</head>
<body>
    <!-- Sidenav Structure -->
    <ul id="slide-out" class="sidenav">
        <li><a class="subheader">盤面操作</a></li>
        <li><a id="field-reset" class="waves-effect sidenav-close">盤面リセット</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">タワー管理</a></li>
        <li><a id="make-tower" class="waves-effect sidenav-close">タワー再構築</a></li>
        <li><a id="ban-list-sidenav" class="waves-effect modal-trigger sidenav-close" href="#ban-list-modal">
            禁止カードリスト
        </a></li>
    </ul>
    <!-- Modal Structure -->
    <div id="ban-list-modal" class="modal">
        <div class="modal-content">
            <a class="btn tooltipped" data-position="bottom"><i class='material-icons'>info</i></a>
            <table id="ban-list-table" class="display compact" width="100%"></table>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">適用</a>
        </div>
    </div>
</body>
</html>

