<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="javascripts/enchant.js"></script>
    <script type="text/javascript">
        let cardImages = <%- JSON.stringify(cardImages) %>
    </script>
    <script type="module" src="javascripts/main.js"></script>
</head>
<body>
    <!-- Sidenav Structure -->
    <ul id="slide-out" class="sidenav">
        <li><a class="subheader">盤面操作</a></li>
        <li><a id="field-reset" class="waves-effect sidenav-close">盤面リセット</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">タワー管理</a></li>
        <li><a id="make-tower" class="waves-effect sidenav-close">タワー再構築</a></li>
        <li><a id="ban-list-sidenav" class="waves-effect modal-trigger sidenav-close" href="#ban-list-modal">
            禁止カードリスト
        </a></li>
        <li><a id="card-upload-sidenav" class="waves-effect modal-trigger sidenav-close" href="#card-upload-modal">
            カードアップロード
        </a></li>
    </ul>
    <!-- Modal Structure -->
    <div id="ban-list-modal" class="modal">
        <div class="modal-content">
            <a id="ban-list-info"  class="btn tooltipped" data-position="bottom">
                <i class='material-icons'>info</i>
            </a>
            <table id="ban-list-table" class="display compact" width="100%"></table>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="card-upload-modal" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col s11">
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>条件</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ファイル名</td>
                                    <td>カード名（基本的に英名）</td>
                                </tr>
                                <tr>
                                    <td>ファイル種別</td>
                                    <td>jpg/jpeg/png/gif</td>
                                </tr>
                                <tr>
                                    <td>画像サイズ</td>
                                    <td>221×311以上推奨</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>例）Anax, Hardened in the Forge1.jpg</p>
                        <input type="file" id="card-upload-select" accept="image/*" multiple>
                    </div>
                    <div id="file-list"></div>
                </div>
                <div class="col s1">
                    <a id="card-upload-info" class="btn tooltipped" data-position="bottom">
                        <i class='material-icons'>info</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a id="card-upload-cancel" class="modal-close waves-effect waves-green btn-flat">キャンセル</a>
            <a id="card-upload-execute" class="modal-close waves-effect waves-green btn-flat">アップロード</a>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="memo-modal" class="modal">
        <div class="modal-content">
            <div class="input-field">
                <textarea id="memo-input" class="materialize-textarea"></textarea>
                <label for="memo-input">カードメモ</label>
            </div>
        </div>
        <div class="modal-footer">
            <a id="memo-cancel" class="modal-close waves-effect waves-green btn-flat">キャンセル</a>
            <a id="memo-execute" class="modal-close waves-effect waves-green btn-flat">決定</a>
        </div>
    </div>
</body>
</html>

