body {
    margin: 0;
    padding: 0;
}

#life-counter {
    font-size: 48px;
    background-color: white;
}

#name {
    margin: 3px 0px;
    font-size: 48px;
    background-color: white;
}

#playOrder {
    font-size: 48px;
    line-height: 50px;
}

#undo {
    font-size: 32px;
}

#hand-card-num {
    margin: 0px;
    font-size: 48px;
    line-height: 48px;
    background-color: white;
}
