body {
    margin: 0;
    padding: 0;
}

input {
    font-size: 48px;
}

button {
    font-size: 48px;
}

button.team-red {
    background-color: lightsalmon;
}

button.team-blue {
    background-color: lightskyblue;
}

#undo {
    font-size: 32px;
}

p.hand-card-num {
    margin: 0px;
    padding: 3px;
    font-size: 48px;
    line-height: 56px;
    background-color: white;
}
